@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #355C47;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive; 
    --fonte-andoid: 'Android';
    
    height: 100%;
}

body {
    font-family: var(--fonte-padrao);
    background-color: #C5EBD3;
    min-height: 100%;
    position: relative;
    border: 1px solid var(--cor5);
    
}

*{
    margin: 0px;
    padding: 0px;
}

a.externo::after {
    content: '\1F517';
}

/*HEADER*/

header {
    background-image: linear-gradient(to 		bottom, var(--cor2), var(--cor5));
    height: 190px;
    text-align: center;
    padding-top: 20px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px black;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: 25px auto;
    padding: 0px 10px;
    text-shadow: 2px 2px 0px black;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px black;
    text-align: left;
    font-size: 15px;
} 

nav > a, li > a, div#nav1 > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

li > a {
    padding: 5px;
}

nav > a:hover, div#nav1 > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

div#nav1 {
    display: inline-block;
}

ul#nav {
    text-align: left;
    margin-top: 10px;
    background-color: var(--cor4);
    width: 85px;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.521);
    display: none;
}

div > ul > li {
    list-style-type: none;
    margin: 10px 0px;
}

a#contatos:hover ~ ul#nav {
    display: block;
}

ul#nav:hover {
    display: block;
}

li > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

/*MAIN*/

main {
    background-color: white;
    max-width: 700px;
    margin: 20px auto;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}

article > h1, h2{
    font-family: var(--fonte-andoid);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 5px;
    color: var(--cor4);
    border-radius: 5px;
    font-weight: normal;
}

article > h3 {
    font-family: var(--fonte-padrao);
    color: var(--cor4);
}

article > p {
    margin: 15px 0px;
}

main strong {
    color: var(--cor4);
}

p > a {
    background-color: var(--cor2);
    color: var(--cor4);
    text-decoration: none;
    padding: 1px 6px;
    border-radius: 5px;
}

p > a:hover {
    text-decoration: underline;
    
}

article, aside > p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
    font-size: 1em;
}

img {
    width: 100%;
}

img#new_android {
    max-width: 380px;
    display: block;
    margin: auto;
}

article > div {
    background-color: var(--cor4);
    border-radius: 10px;
    margin: 0px -10px;
    padding: 10px;
    padding-bottom: 59%;
    position: relative;
}

div > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    margin: auto;
    margin: 10px;
    max-width: 680px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}

aside > p {
    padding: 10px; 
}

main > h1 {
    color: var(--cor3);
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 20px;
}

main > p {
    margin: 10px 0px;
    font-size: 1.5em;
    text-align: center;
}

/*FOOTER*/

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 0.2em;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

footer > strong > a {
    color: white;
    text-decoration: none;
}

footer > strong > a:hover {
    text-decoration: underline;
}
